.idea/
.vscode/
.settings/
.fleet/
.cache/

bin/
build/
target/
out/

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes

Thumbs.db
ehthumbs.db
Desktop.ini

*.log

*.sqlite
*.db

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.exe~
*.out
*.app

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
